{{ define "main" }}
<content>
  {{ if .Data.Singular }}
  <h1 style="margin-bottom:0">filtering for #{{ .Title | lower }}</h3>
  <small>
    <a href="{{ "blog" | relURL }}">remove filter</a>
  </small>
  {{ end }}
  <ul class="blog-posts">
    {{ range .Pages }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}'>
            {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>
      No posts yet! please hold on a little
    </li>
    {{ end }}
  </ul>
  {{ if not .Data.Singular }}
  <div>
    {{ range .Site.Taxonomies.tags }}
    <a href="{{ .Page.Permalink }}" class="tag">#{{ .Page.Title | lower }}</a>&nbsp;
    {{ end }}
  </div>
  {{ end }}
</content>
<hr>
<p>
  <small>
    <a href="https://radusz.com/blog/index.xml" type="application/rss+xml" target="_blank">Add this blog</a> to your RSS reader.
  </small>
</p>
{{ end }}
