{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
    </time>
  </i>
  <span class="post-meta">
  {{ range (.GetTerms "tags") }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle | lower }}</a>
  {{ end }}
  </span>
</p>
{{ end }}{{ end }}
<content>
  {{ .Content }}
</content>
{{ if eq .Type "blog" }}
<p>
  <small>
    <a href="https://radusz.com/blog/index.xml" type="application/rss+xml" target="_blank">Add this blog</a> to your RSS reader.
  </small>
</p>
{{ end }}
{{ end }}
