<style>
  @font-face {
    font-family: 'charter';
    src: url('/fonts/Charter Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'merriweather';
    src: url('/fonts/merriweather.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --width: 780px;
    --font-main: 'merriweather', Verdana, sans-serif; /* headings stay verdana */
    --font-secondary: 'charter', serif; /* body text uses charter */
    --font-scale: 1.3em;
    
    /* rose pine light inspired palette */
    --background-color: #faf4ed;
    --text-color: #575279;
    --heading-color: #575279;
    --link-color: rgb(99, 94, 201);
    --link-color-hover: (99, 94, 201);
    --visited-color: #d7912e;
    --code-background-color: #f2e9e1;
    --code-color: #56949f;
    --blockquote-color: #6e6a86;
    
    /* colorful header colors matching your obsidian setup */
    --h1-color: #262334; /* darker than text-color for title */
    --h2-color: #b4637a; /* maroon-ish */
    --h3-color: #d7827e; /* red-ish */
    --h4-color: #56949f; /* teal */
    --h5-color: #8a9a7b; /* green-ish */
    --bold-color: rgb(99, 94, 201); /* lavender for bold text */
    --italic-color: rgb(99, 94, 201); /* lavender for italic text */
  }

  body {
    font-family: var(--font-secondary);
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-main);
    color: var(--heading-color);
  }

  /* colorful headers like your obsidian theme */
  h1 {
    color: var(--h1-color);
    font-size: 1.7em;
  }

  h2 {
    color: var(--h2-color);
  }

  h3 {
    color: var(--h3-color);
  }

  h4 {
    color: var(--h4-color);
  }

  a {
    color: var(--link-color);
    cursor: pointer;
    text-decoration: underline;
  }

  a:hover {
    color: var(--link-color-hover);
    text-decoration: none;
  }

  a.title {
  text-decoration: none !important;
  }

  h2.main_title {
    font-size: 1.3em;
  }

  a.title:hover {
    text-decoration: none !important;
  }
  

  nav a {
    margin-right: 8px;
  }

  strong,
  b {
    color: var(--bold-color);
  }

  em {
    color: var(--italic-color);
  }

  button {
    margin: 0;
    cursor: pointer;
  }

  time {
    font-family: 'charter', monospace;
    font-style: normal;
    font-size: 1.1em; /* slightly bigger than text */
  }

  span.post-meta {
    font-size: 1.1em;
  }

  main {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  hr {
    border: 0;
    border-top: 1px solid #d4c0a8;
  }

  img {
    max-width: 100%;
  }

  code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--code-background-color);
    color: var(--code-color);
  }

  blockquote {
    border: 1px solid #d4c0a8; /* thin solid border matching your theme */
    background-color: #f7f1e8; /* slightly darker than your background for contrast */
    padding: 5px 25px; /* more padding for breathing room */
    margin: 0.5em 0.5em; /* vertical spacing */
    font-family: 'merriweather', serif; /* different font - or try Georgia, serif */
    font-size: 0.9em; /* slightly larger */
    color: var(--h1-color);
    text-align: justify;
  }

  .footnotes {
    font-size: 0.8em;
    vertical-align: super;
    text-decoration: none;
    font-style: normal;

  }

  .footnote-ref {
    font-size: 0.8em;
    vertical-align: super;
    text-decoration: none;
    font-style: normal;
  }

  sup a:hover {
    background-color: rgba(62, 176, 165, 0.2);
    text-decoration: none;
  }

  footer {
    padding: 25px 0;
    text-align: center;
  }

  .inline {
    width: auto !important;
  }

  .highlight,
  .code {
    padding: 1px 15px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
  }

  /* blog post list */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: var(--text-color);
  }
  
  p + ul {
    margin-top: -20px;
  }
  h2 + ul {
    margin-top: -20px;
  }
  h3 + ul {
    margin-top: -20px;
  }

</style>
